body {
  background-color: #6c71a6;
}

.perfil-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

.perfil-container h1 {
  text-align: center;
  color: #333;
}

.dados-usuario {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.dados-usuario p {
  margin: 10px 0;
}

button {
  padding: 12px;
  font-size: 1rem;
  background-color: #6c71a6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}
.botoes-acao {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #5a5e91;
}

.btn-secundario {
  background-color: black;
  margin-top: 10px;
}

.secao {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}