.filtros-categorias {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filtros-categorias button {
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filtros-categorias button.ativo,
.filtros-categorias button:hover {
  background-color: #6c71a6;
  color: white;
  border: none;
}

.produtos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.card-wrapper {
  width: 275px;
  text-decoration: none;
}
