<div class="cadastro-container">
  <h1>Cadastro</h1>
  <div class="cadastro-card">
    <div class="image-side"></div>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="form-side">
      <h2>Crie sua conta</h2>
      <label>Nome</label>
      <input type="text" formControlName="nome" />

      <label>e-mail</label>
      <input type="email" formControlName="email" />

      <label>Senha</label>
      <input type="password" formControlName="senha" />

      <button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
    </form>
  </div>
</div>
