<div class="home-container">
  <h1 class="title">ExclusiveShop</h1>

  <div class="button-group">
    <button (click)="navigateTo('/login')">Login</button>
    <button (click)="navigateTo('/cadastro')">Cadastro</button>
    <button (click)="navigateTo('/produtos')">Produtos</button>
  </div>

  <div 
    class="carousel"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <img 
      *ngFor="let img of visibleImages" 
      [src]="img" 
      class="carousel-image"
      (click)="openProduct(img)"
    />
  </div>
</div>

