<div class="container">
  <h1 class="titulo">
    ExclusiveShop
    <div class="botoes">
      <button (click)="navegarPara('login')">Login</button>
      <button (click)="navegarPara('cadastro')">Cadastro</button>
      <button (click)="navegarPara('produtos')">Produtos</button>
    </div>
  </h1>
  <br>
  <h2 class="destaque">Produtos em destaque</h2>
  <div class="carrossel"
       (mouseenter)="pausarCarrossel()"
       (mouseleave)="retomarCarrossel()">
    <div class="imagem" *ngFor="let produto of visiveis">
      <img [src]="produto.imagem" (click)="irParaProduto(produto.id)" alt="Produto em destaque" />
    </div>
  </div>
</div>

